<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/docunex/" />
        </rule>
      </rules>
    </rewrite>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
            <mimeMap fileExtension=".glb" mimeType="model/gltf-binary" />
        </staticContent>
  </system.webServer>

</configuration>
